
  <footer class="bg-dark text-white py-5" >
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 my-5 py-5">
          <div class="logo">
            <img src="assets/logo.png">
          </div>
            
          <div class="contact">
          <p class="email"><img src="assets/call (2).png" alt="" style="width: 20px;"> Hussinelbastawy&#64;gmail.com</p>
          <p class="phone"><img src="assets/call.png" alt="" style="width: 20px;"> 01018802070</p>
          <p class="phone"><img src="assets/call.png" alt="" style="width: 20px;"> 01032954235</p>
        </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 my-5 py-5">
          <h5 class="">القائمة الرئيسية</h5>
          <div class="menu">
            <ul>
              <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >الرئيسية</a></li>
              <li><a routerLink="/about" routerLinkActive="active">من نحن</a></li>

              <li><a routerLink="/service" routerLinkActive="active">خدماتنا</a></li>
            </ul>
          </div>
          
          
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 my-5 py-5">
          <h5>تواصل معنا</h5>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center">
        <p> 2024 جميع الحقوق محفوظة &copy;حاسب</p>
        </div>
      </div>
    </div>
  </footer>


