<div class="container-fluid home">
  <div class="clear"></div>
  <div class="backimg">
    <div class="overlay ps-5">
      <h1>حاسب</h1>
      <p>محاسبون قانونيون واستشاريون</p>
    </div>
  </div>
</div>
<section class="container-fluid services pt-5 pb-5">
  <div class="adv raw my-5 py-5 animation-container">
    <div class="col-sm-12 col-md-4 col-lg-4 my-5">
      <h3>تكاليف أقل</h3>
      <p>نوفر أكثر من 75% من تكاليف التوظيف والبرامج المحاسبية</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 my-5">
      <h3>مجهود أقل</h3>
      <p>ندير البيانات المحاسبية من إدخالات الفواتير والمطابقات البنكية</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 my-5">
      <h3>موثوقية أعلى</h3>
      <p>نعين محاسبين خبراء في قطاع أعمالك وتشريعاته</p>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #dad9d9">
    <div class="adv raw my-5 py-5 animation-container">
      <div class="col-md-4 col-sm-12 my-5">
        <h2>تأسيس الشركات</h2>
        <h5 class="p-3">
          نوفر لك عملية تأسيس شركتك بسهولة وسرعة، مما يتيح لك بدء العمل وتحقيق
          أهدافك التجارية بأسرع وقت ممكن.
        </h5>
        <button type="button" (click)="openWhatsApp()" class="btn my-3">
          اطلب الخدمة
        </button>
      </div>
      <div class="col-md-4 col-sm-12 my-5">
        <h2>تعديل السجل التجاري</h2>
        <h5 class="p-3">
          نوفر لك عملية تأسيس شركتك بسهولة وسرعة، مما يتيح لك بدء العمل وتحقيق
          أهدافك التجارية بأسرع وقت ممكن.
        </h5>
        <button type="button" (click)="openWhatsApp()" class="btn my-3">
          اطلب الخدمة
        </button>
      </div>
      <div class="col-md-4 col-sm-12 my-5">
        <h2>تقديم الإقرار الضريبي</h2>
        <h5 class="p-3">
          نساعدك في إعداد وتقديم إقراراتك الضريبية بدقة وفي الوقت المناسب،
           مما يضمن الامتثال الكامل للمتطلبات القانونية وتجنب العقوبات والغرامات.
        </h5>
        <button type="button" (click)="openWhatsApp()" class="btn my-3">
          اطلب الخدمة
        </button>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid security">
  <div class="row">
    <div class="col-12 col-md-6 sec-img my-5 py-5">
      <img src="assets/security.png" alt="Security Image" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 sec-text my-5 py-5">
      <h2 class="text-start">أمن البيانات وملكيتها</h2>
      <p class="text-sm">نحن نقوم بتطبيق أعلى الإجراءات الأمنية، مما يحافظ على بياناتك آمنة. لا يقوم حاسب أبدًا بمشاركة بياناتك مع أطراف أخرى أو استخدامها لأي أغراض أخرى باستثناء تقديم الخدمات</p>
    </div>
  </div>
</div>

